Port 22
Protocol 2
PermitRootLogin yes
PasswordAuthentication yes
PermitEmptyPasswords no
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
LogLevel VERBOSE
Subsystem sftp /usr/lib/openssh/sftp-server
